<html>
    <head>
        <title>LoadBalancer</title>
    </head>
    <body>
        <h2>hello hello</h2>
        <p>
            <strong>This is from : </strong> <br>
            HOST: {{ host }}            <br>
            PORT: {{ port }}            
        </p>
    </body>    
</html>